/* red */
.x-badge {
  border: 1px solid #aaa;
	z-index: 2;
	position: absolute !important;
	width: auto;
	font-size: .6em;
	font-weight: bold;
	right: 0;
	top: 0;
	max-width: 95%;
	display: inline-block;
	-webkit-box-flex: 1;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: center;
	display: block;
	overflow: hidden;
	border-color: #900;
	min-width: 2em;
	line-height: 1.2em;
	top: -.2em;
	padding: 0.1em 0.3em;
	-webkit-background-clip: padding;
	-moz-background-clip: padding;
	background-clip: padding-box;
	color: #fcc;
	background-image: none;
	background-color: #c00;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff1a1a), color-stop(3%, #e60000), color-stop(100%, #b30000));
	background-image: -webkit-linear-gradient(top, #ff1a1a,#e60000 3%,#b30000);
	background-image: -moz-linear-gradient(top, #ff1a1a,#e60000 3%,#b30000);
	background-image: -o-linear-gradient(top, #ff1a1a,#e60000 3%,#b30000);
	background-image: linear-gradient(top, #ff1a1a,#e60000 3%,#b30000);
	-webkit-border-radius: 0.2em;
	-moz-border-radius: 0.2em;
	-ms-border-radius: 0.2em;
	-o-border-radius: 0.2em;
	border-radius: 0.2em;
	text-shadow: rgba(0,0,0,0.5) 0 -0.08em 0;
	-webkit-box-shadow: rgba(0,0,0,0.5) 0 0.1em 0.1em;
	-moz-box-shadow: rgba(0,0,0,0.5) 0 0.1em 0.1em;
	box-shadow: rgba(0,0,0,0.5) 0 0.1em 0.1em;
}
/* green */
.x-badge-2 {
	border: 1px solid #aaa;
	z-index: 2;
	position: absolute !important;
	width: auto;
	font-size: .6em;
	font-weight: bold;
	max-width: 95%;
	display: inline-block;
	-webkit-box-flex: 1;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: center;
	display: block;
	overflow: hidden;
	border-color: #090;
	min-width: 2em;
	line-height: 1.2em;
	top: -.2em;
	left: 0;
	padding: 0.1em 0.3em;
	-webkit-background-clip: padding;
	-moz-background-clip: padding;
	background-clip: padding-box;
	color: #cfc;
	background-image: none;
	background-color: #1aff1a;
	background-image: -moz-linear-gradient(top, #1aff1a 0%, #00e600 3%, #00b300 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1aff1a), color-stop(3%,#00e600), color-stop(100%,#00b300));
	background-image: -webkit-linear-gradient(top, #1aff1a 0%,#00e600 3%,#00b300 100%);
	background-image: -o-linear-gradient(top, #1aff1a 0%,#00e600 3%,#00b300 100%);
	background-image: -ms-linear-gradient(top, #1aff1a 0%,#00e600 3%,#00b300 100%);
	background-image: linear-gradient(to bottom, #1aff1a 0%,#00e600 3%,#00b300 100%);
	-webkit-border-radius: 0.2em;
	-moz-border-radius: 0.2em;
	-ms-border-radius: 0.2em;
	-o-border-radius: 0.2em;
	border-radius: 0.2em;
	text-shadow: rgba(0,0,0,0.5) 0 -0.08em 0;
	-webkit-box-shadow: rgba(0,0,0,0.5) 0 0.1em 0.1em;
	-moz-box-shadow: rgba(0,0,0,0.5) 0 0.1em 0.1em;
	box-shadow: rgba(0,0,0,0.5) 0 0.1em 0.1em;
}
/* blue */
.x-badge-3 {
	border: 1px solid #aaa;
	z-index: 2;
	position: absolute !important;
	width: auto;
	font-size: .6em;
	font-weight: bold;
	max-width: 95%;
	display: inline-block;
	-webkit-box-flex: 1;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: center;
	display: block;
	overflow: hidden;
	border-color: #009;
	min-width: 2em;
	line-height: 1.2em;
	bottom: -.2em;
	left: 0;
	padding: 0.1em 0.3em;
	-webkit-background-clip: padding;
	-moz-background-clip: padding;
	background-clip: padding-box;
	color: #ccf;
	background-image: none;
	background-color: #1a1aff;
	background-image: -moz-linear-gradient(top, #1a1aff 1%, #0000e6 4%, #0000b3 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#1a1aff), color-stop(4%,#0000e6), color-stop(100%,#0000b3));
	background-image: -webkit-linear-gradient(top, #1a1aff 1%,#0000e6 4%,#0000b3 100%);
	background-image: -o-linear-gradient(top, #1a1aff 1%,#0000e6 4%,#0000b3 100%); 
	background-image: -ms-linear-gradient(top, #1a1aff 1%,#0000e6 4%,#0000b3 100%);
	background-image: linear-gradient(to bottom, #1a1aff 1%,#0000e6 4%,#0000b3 100%);
	-webkit-border-radius: 0.2em;
	-moz-border-radius: 0.2em;
	-ms-border-radius: 0.2em;
	-o-border-radius: 0.2em;
	border-radius: 0.2em;
	text-shadow: rgba(0,0,0,0.5) 0 -0.08em 0;
	-webkit-box-shadow: rgba(0,0,0,0.5) 0 0.1em 0.1em;
	-moz-box-shadow: rgba(0,0,0,0.5) 0 0.1em 0.1em;
	box-shadow: rgba(0,0,0,0.5) 0 0.1em 0.1em;	
}
/* yellow */
.x-badge-4 {
	border: 1px solid #aaa;
	z-index: 2;
	position: absolute !important;
	width: auto;
	font-size: .6em;
	font-weight: bold;
	bottom: -.2em;
	right: 0;
	max-width: 95%;
	display: inline-block;
	-webkit-box-flex: 1;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: center;
	display: block;
	overflow: hidden;
	border-color: #990;
	min-width: 2em;
	line-height: 1.2em;
	padding: 0.1em 0.3em;
	-webkit-background-clip: padding;
	-moz-background-clip: padding;
	background-clip: padding-box;
	color: #444;
	background-image: none;
	background-color: #ffff1a;
	background-image: -moz-linear-gradient(top, #ffff1a 1%, #fafa00 6%, #e6e600 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffff1a), color-stop(6%,#fafa00), color-stop(100%,#e6e600));
	background-image: -webkit-linear-gradient(top, #ffff1a 1%,#fafa00 6%,#e6e600 100%);
	background-image: -o-linear-gradient(top, #ffff1a 1%,#fafa00 6%,#e6e600 100%);
	background-image: -ms-linear-gradient(top, #ffff1a 1%,#fafa00 6%,#e6e600 100%);
	background-image: linear-gradient(to bottom, #ffff1a 1%,#fafa00 6%,#e6e600 100%);
	-webkit-border-radius: 0.2em;
	-moz-border-radius: 0.2em;
	-ms-border-radius: 0.2em;
	-o-border-radius: 0.2em;
	border-radius: 0.2em;
	text-shadow: rgba(0,0,0,0.5) 0 -0.08em 0;
	-webkit-box-shadow: rgba(0,0,0,0.5) 0 0.1em 0.1em;
	-moz-box-shadow: rgba(0,0,0,0.5) 0 0.1em 0.1em;
	box-shadow: rgba(0,0,0,0.5) 0 0.1em 0.1em;   
}
